body{
margin:0;
font-family:Arial;
background:#0b0b12;
color:white;
}

header{
text-align:center;
padding:20px;
background:#111122;
box-shadow:0 0 15px #00eaff;
}

h1{
color:#00eaff;
margin:0;
}

#searchInput{
margin-top:10px;
padding:10px;
width:90%;
border-radius:8px;
border:none;
}

.controls{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
padding:10px;
}

button{
background:#00eaff;
color:black;
border:none;
padding:10px 15px;
border-radius:6px;
cursor:pointer;
font-weight:bold;
}

button:hover{
background:#00c6d1;
}

.card{
background:#15152a;
margin:12px;
padding:15px;
border-radius:10px;
box-shadow:0 0 10px #00eaff33;
}

table{
width:100%;
border-collapse:collapse;
margin-top:10px;
}

th,td{
padding:8px;
border-bottom:1px solid #333;
text-align:center;
}

th{
color:#00eaff;
}

footer{
text-align:center;
padding:10px;
opacity:0.6;
}
